<form class="search" action="/search" method="post">
  <input type="text" name="artist" placeholder="Artist" value="">
  <input class="button btn btn-default" type="button" name="submit" value="Submit">
</form>

<!-- Projects Row -->
<div class="row">
<ul>
{{#each artist}}

    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="{{artist.spotifyURL}}" alt="{{artist.name}}">
        </a>
        <h3>
            <a href="#">{{artist.name}}</a>
        </h3>
        <p>{{artist.genre}}</p>
        <p>
          <a href="/search">Add a New Artist</a>
        </p>
    </div>

{{/each}}
</ul>
</div>
